# 5 different functions of the String in python

# 1.replace

In [19]:
name="Shaik Salma Begum."

In [16]:
name1=name.replace("Begum","Sultana")

In [17]:
print(name1)

Shaik Salma Sultana

In [18]:
print(name)

Shaik Salma Begum

# 2.ENDSWITH

In [20]:
result=name.endswith("Begum")

In [21]:
print(result)

False

In [22]:
name.endswith("Begum.")

True

# 3.Swapcase

In [23]:
x=name.swapcase()

In [24]:
print(x)

sHAIK sALMA bEGUM.

# 4.UPPER

In [25]:
name.upper()

'SHAIK SALMA BEGUM.'

# 5.lower

In [31]:
name.lower()

'shaik salma begum.'

# 5 different functions of list object in python

In [36]:
lst=[20,23.3,40,30,10]
print(lst.remove(30))

None

In [37]:
print(lst)

[20, 23.3, 40, 10]

In [38]:
result=lst.pop(3)

In [39]:
print(result)

10

In [40]:
print(lst)

[20, 23.3, 40]

In [41]:
lst.reverse()

In [42]:
print(lst)

[40, 23.3, 20]

In [45]:
lst1=[1,2,3,4]

In [48]:
lst.extend(lst1)

In [47]:
print(lst)

[40, 23.3, 20, 1, 2, 3, 4]

In [53]:
lst.sort()

In [54]:
print(lst)

[1, 1, 2, 2, 3, 3, 4, 4, 20, 23.3, 40]

In [59]:
lst.clear()

In [60]:
print(lst)

[]

# experiment with 5 default functions of dictionary

In [61]:
dict1={"name":"shaik mujeeb","college":"nimra","id":1024,"class":"cse"}

In [62]:
dict1.items()

dict_items([('name', 'shaik mujeeb'), ('college', 'nimra'), ('id', 1024), ('class', 'cse')])

In [63]:
dict1.keys()

dict_keys(['name', 'college', 'id', 'class'])

In [73]:
dict2={"name":"john"}
dict1.update(dict2)

In [74]:
print(dict1)

{'name': 'john', 'college': 'nimra', 'id': 1024, 'class': 'cse'}

In [75]:
dict1.values()

dict_values(['john', 'nimra', 1024, 'cse'])

In [76]:
dict1.clear()

In [77]:
print(dict1)

{}